<ion-content>
  <div class="iconcontainer">

      <!-- <img src="../../assets/imgs/sound-wavesdard.png" alt="" class="contentflex__iconcontainer__icon">  -->
      <img src="{{img}}" width="150" height="150" style="border:1px solid whitesmoke;border-radius: 50%;"
          alt="" class="iconcontainer__icon">
      <!-- <input type="file" #image (change)="insertImage($event)">  -->

      <div class="buttonbox">
          <button *ngIf="img != 'https://static1.squarespace.com/static/5adeaa0ff8370a5de0e90824/t/5b976ea440ec9af58bd0860b/1536650919208/blank-avatar.png?format=300w'" class="delete" color="danger" ion-button icon-only (click)="remove()">
              <ion-icon name="trash"></ion-icon>
          </button>
      </div>
      <div class="button">
          <div class="upload-btn-wrapper">
              <!-- <button class="btn">Edit Image</button>
             <input type="file"  accept="image/*"  (click)="UpdateImage()"> --> 
              <button class="btn"(click)="uploadImage()">Edit Image</button>
          </div>
      </div>

  </div>

  <form autocomplete="off" [formGroup]="formGroup" (ngSubmit)="submit()">
      <div class="contentflex">
          <div class="contentflex__formcontent">
              <ion-item no-lines>
                  <ion-label color="light">
                      <ion-icon name="contact"></ion-icon>
                  </ion-label>
                  <ion-input
                    type="name"
                    formControlName="fullname"
                    placeholder="Full Name"
                    class="contentflex__formcontent--input"
                    id="input"
                  ></ion-input>
              </ion-item>

              <ion-item no-lines>
                  <ion-label color="light">
                      <ion-icon name="mail"></ion-icon>
                  </ion-label>
                  <ion-input
                    type="name"
                    formControlName="email"
                    readonly
                    placeholder="Email"
                    class="contentflex__formcontent--input"
                    id="input"
                  ></ion-input>
              </ion-item>

              <ion-item no-lines>
                  <ion-label color="light">
                      <ion-icon ios="ios-transgender" md="md-transgender"></ion-icon>
                      Gender
                  </ion-label>
                  <ion-select formControlName="gender" multiple="false">
                      <ion-option value="None">None</ion-option>
                      <ion-option value="Female">Female</ion-option>
                      <ion-option value="Male">Male</ion-option>
                  </ion-select>
              </ion-item>

<!--            <ion-item no-lines>-->
<!--              <ion-searchbar formControlName="location"  placeholder="Location"></ion-searchbar>-->
<!--            </ion-item>-->
<!--            <ion-list [class.d-none]="!locationList" class="list" id="hide" >-->
<!--                <ion-item *ngFor="let location of locationList">-->
<!--                  {{ location.title }}-->
<!--                </ion-item>-->
<!--              </ion-list>-->
            <ng-container>
              <ion-item no-lines>
                <ion-label color="light">
                  <ion-icon name="search"></ion-icon>
                </ion-label>
                <ion-input
                  type="text"
                  formControlName="location"
                  placeholder="Location"
                  class="contentflex__formcontent--input"
                ></ion-input>
              </ion-item>

              <div class="loadercontainer" [class.d-none]="!isSearching">
                <div class="loader">Loading...</div>
              </div>

              <ion-item no-lines [class.d-none]="!locationList || locationList.length === 0">
                <ion-label color="light">
                  <ion-icon ios="ios-search" md="md-search"></ion-icon>
                </ion-label>
                <ion-select formControlName="location" multiple="false">
                  <ion-option *ngFor="let location of locationList" (select)="setLocation(location.title)">{{location.title}}</ion-option>
                </ion-select>
              </ion-item>
            </ng-container>


              <ion-item no-lines>
                  <ion-label color="light">
                      <ion-icon name="contact"></ion-icon>
                  </ion-label>
                  <ion-textarea
                    type="name"
                    formControlName="bio"
                    placeholder="Bio"
                    class="contentflex__formcontent--input"
                    id="input"
                  ></ion-textarea>
              </ion-item>


          </div>
          <div class="contentflex__buttoncontent">

              <!-- creating the submission button for the form 
    [disabled]="!f.valid" will make the button not work unless valid data is entered
    type="submit" triggers the ngsubmit method -->
              <button class="contentflex__buttoncontent--button" type="submit" ion-button block>Save</button>

          </div>
      </div>
  </form> 

    <div class="loadcontainer" *ngIf="loader == 'true'">
    <div class="loadingmod">
        <img src="../../assets/imgs/sound-wavesdard.png" alt="" class="icon">
        <p class="message">Updating Data
            <span>.</span>
            <span>.</span>
            <span>.</span>
        </p>
    </div> 
</div>

<div class="succtoast" *ngIf="upsucc == 'true'">
    <img src="../../assets/happy.svg" alt="" class="icon">
    <p class="message">Your data has been saved!</p>
  </div> 
</ion-content>

